body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans";
    font-size: 13px;
    text-align: center;
    overflow: hidden:
}

#container {
    margin: auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate3d(0, -50%, 0);
}

.button {
    display: block;
    width: 250px;
    padding: 15px 0 15px 0;
    margin: 5px auto;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.button:first-child {
  border-radius: 5px 5px 0 0;
}

.button:last-child {
  border-radius: 0 0 5px 5px;
}

.button:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.green { background-color: #7FCA9F; }

.green:hover { background-color: #6EB98E; }

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: table;
  z-index: 100;
}

.hide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.65);
  z-index: 100;
}

#hide > img {
  margin-top: 15%;
  animation: fa-spin 3s infinite linear;
}
